<p id="notice"><%= notice %></p>

<h1>Listing Registered Applications</h1>

<div class="well">
<table class="table table-stripe">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @registered_applications.each do |registered_application| %>
      <tr>
        <td><strong><%= registered_application.name %></strong></td>
        <td><%= registered_application.url %></td>
        <td>
          <div class="pull-right">
            <%= link_to 'Show', registered_application, class: "btn btn-default" %>
            <%= link_to 'Edit', edit_registered_application_path(registered_application), class: "btn btn-default" %>
            <%= link_to 'Destroy', registered_application, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Registered application', new_registered_application_path %>
