<!DOCTYPE html>
<html>
<head>
  <title>Blocmetrics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <div class="container">

    <div class="flash">
      <% if notice %>
      <div class="alert alert-dismissible alert-info">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <%= notice %>
      </div>
      <% elsif alert %>
      <div class="alert alert-dismissible alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <%= alert %>
      </div>
      <% end %>
    <div>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Blocmetrics", root_path, class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">
            <% if user_signed_in? %>

              <%= nav_link 'Web Apps', registered_applications_path %>

            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>
                <div class="login">

                  <span style="margin-right: 10px">
                    <%= link_to current_user.username, edit_user_registration_path %>
                  </span>
                  <%= link_to edit_user_registration_path, class: "btn btn-sm btn-default navbar-link", data: { toggle: 'tooltip', placement: 'bottom', original_title: 'Profile' } do %>
                      <%= fa_icon "user" %>
                  <% end %>

                  <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-sm btn-default navbar-link", data: { toggle: 'tooltip', placement: 'bottom', original_title: 'Sign Out' } do %>
                      <%= fa_icon "sign-out" %>
                  <% end %>

               </div>
              </li>
            <% else %>
              <li><div class="login"><%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %></div></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

  </div>
</body>
</html>
